  <div class="content">
    <form class="form">
      <label for="url" class="form-label"><strong>Get Image Instagram</strong></label>
      <input type="text" name="url" class="form-input" id="url" placeholder="Enter the link here!">
      <button class="btn mb-4">search</button>
    </form>
  </div>
  <div id="message" class="alert"></div>
  <div class="image"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js" integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js" integrity="sha512-xQBQYt9UcgblF6aCMrwU1NkVA7HCXaSN2oq0so80KO+y68M+n64FOcqgav4igHe6D5ObBLIf68DWv+gfBowczg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  const $ = document.querySelector.bind(document)
$(".form").addEventListener("submit", async (e) => {
  try {
    e.preventDefault()
    e.stopPropagation()
    $("#message").textContent = "Vui lòng đợi ít phút, nếu trang có nhiều ảnh sẽ lâu hơn !"
    const data = await fetch("/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          url: $("#url").value.trim()
        })
      })
      .then(res => res.json())
    const zip = new JSZip()
    const images = zip.folder("images")
    let resultMessage = data.status ? "alert-success" : "alert-error"
    $("#message").classList.add(resultMessage)
    $("#message").textContent = data.message
    data.results.forEach(x => {
      let img = document.createElement("img")
      img.className = "item"
      img.src = x.url
      img.alt = x.filename
      $(".image").appendChild(img)
    })
    console.log(data)
  } catch (e) {
    $("#message").classList.add("alert-error")
    $("#message").textContent = e.message
  }
})
</script>
