<form id="form"  class="row mt-4 g-3 needs-validation" novalidate>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">ID</label>
    <input type="text" class="form-control" id="url" name="url"  required>
    <div class="valid-feedback">
      tốt lắm !
    </div>
    <div class="invalid-feedback">
      vui lòng nhập trường này !
    </div>
    <h2 id="messgae"></h2>
    <img id="img" />
  </form>

<div class="col-12">
  <button class="btn btn-primary" type="submit">Search</button>
</div>
</div>



<script>
  const $ = document.querySelector.bind(document)
  $("#form").addEventListener("click", async (e) => {
    e.preventDefault()
    e.stopPropagation()
    const data = await fetch("/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
          url: $("#url").value.trim(),
        })
      .then(res => res.json())
      alert(data.message)
    if (data.status) {
      $("#message").textContent = data.title
    }
    
  })
</script>
