  <div class="content">
    <form class="form">
      <label for="url" class="form-label"><strong>Get Image Instagram</strong></label>
      <input type="text" name="url" class="form-input" id="url" placeholder="Enter the link here!">
      <button class="btn mb-4">search</button>
    </form>
  </div>
  <div id="message" class="alert"></div>
  <div class="image"></div>



<script>
  const $ = document.querySelector.bind(document)
$(".form").addEventListener("submit", async (e) => {
  try {
    e.preventDefault()
    e.stopPropagation()
    $("#message").textContent = "Loading...!"
    const data = await fetch("/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          url: $("#url").value.trim()
        })
      })
      .then(res => res.json())
    
    let resultMessage = data.status ? "alert-success" : "alert-error"
    $("#message").classList.add(resultMessage)
    $("#message").textContent = data.message
    data.image.forEach(x => {
      let img = document.createElement("img")
      img.className = "item"
      img.src = x
      $(".image").appendChild(img)
    })
  } catch (e) {
    alert("Server Error !")
    $("#message").classList.add("alert-error")
    $("#message").textContent = "Server Error"
  }
})
</script>
